.advantages
    background: #F6F6F6
    min-height: 470px
    padding-top: 73px
    &__advantages
        margin-top: 65px
        display: flex
        justify-content: space-between
    &__icon
        height: 70px
        width: 70px
        margin: 0 auto
        img
            display: block
        &_animated
            animation: heartbeat 1.8s ease infinite 
            &:hover
                animation-play-state: paused
    &__desc
        font-weight: 300
        font-size: 14px
        max-width: 271px
        text-align: center
        margin: 20px 0 65px 0
        a
            color: $main-color
    &__name
        text-align: center
        font-weight: 600
        font-size: 18px
        margin-top: 30px


@media screen and ( max-width:  991px)
    .advantages
        &__advantages
            margin: 65px 20px 0 20px
        &__desc
            max-width: 240px


@media screen and ( max-width:  767px)
    .advantages
        &__name
            font-size: 16px
        &__desc
            max-width: 200px


@media screen and ( max-width:  575px)
    .advantages
        &__advantages
            flex-direction: column
            align-items: center
        &__name
            font-size: 18px
        &__desc
            max-width: 271px